<nav>
  <ul class="pagination">

    <li class="page-item" appClass [ngClass]=" {disabled : currentPage === 0}">
      <a href="" class="page-link" (click)="onClickPrev($event)">Prev</a>
    </li>
    <li class="page-item"
     *appTimes="items.length; let i = index"
     [ngClass]="
     { active : i === currentPage}
     ">
      <a class="page-link" (click)="currentPage = i">{{i + 1}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: currentPage === items.length-1}">
      <a href="" class="page-link" (click)="onClickNext($event)" >Next</a>
    </li>
  </ul>
</nav>


<div>
  <h3  [appClass]=" 'grey' ">{{items[currentPage].title}}</h3>
  <img [src]="items[currentPage].src" alt="">
</div>



<!-- <ul *appTimes="5">
  <li>Hello</li>
</ul> -->
